* {
    font-family:'Courier New', sans-serif, Arial, Helvetica;
}

#popup {
    border: none;
    width: 80%;
    height: 80%;
    max-height: 600px;
    max-width: 800px;
}

#popup h2 {
    text-align: center;
}

#intro {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#intro-message {
    font-size: 30px;
}

#popup button {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(255, 252, 94);
}

#popup button:hover {
    cursor: pointer;
    background-color: rgb(248, 245, 50);
}

#starting-board {
    margin: 20px auto;
    height: 300px;
    width: 300px;
    display: grid;
    gap: 2px;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
    border: 1px solid black;
}
#orientation {
    height: 50%;
}

#starting-board div {
    background-color: rgb(224, 224, 224);
}

#starting-board div:hover {
    cursor: pointer;
    background-color: rgb(23, 220, 255);
}

#starting-board div.choice {
    background-color: rgb(23, 220, 255);
}

#lower-buttons {
    margin: 40px auto 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

#headings {
    height: 50px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
}

#boards {
    width: 850px;
    display: flex;
    flex-direction: row;
    margin: 20px auto;
}

#left, #right {
    display: flex;
    width: 50%;
    height: 450px;
    flex-direction: column;
    align-items: center;
}

#player-board, #computer-board {
    width: 80%;
    height: 100%;
    border: 2px solid rgb(0, 123, 255);
    padding: 5px;
    display: grid;
    gap: 5px;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
}

#player-board div, #computer-board div {
    border: 1px solid rgb(70, 182, 70);
}

.water {
    background-color: rgb(207, 248, 255);
}

.ship {
    background-color: rgb(255, 243, 71);
}

ship-hidden {
    background-color: rgb(207, 248, 255);
}

.hit {
    background-color: rgb(255, 59, 59);
}

.miss {
    background-color: rgb(93, 187, 204)
}

#computer-board .water:hover {
    cursor: pointer;
    background-color: rgb(166, 229, 240);
    transition: all 0.7 ease;
    border: 1px solid rgb(0, 0, 0);
}

#computer-board .hit:hover {
    cursor: pointer;
    background-color: rgb(253, 29, 29);
    transition: all 0.7 ease;
}

#computer-board .miss:hover {
    cursor: pointer;
    background-color: rgb(31, 156, 179);
    transition: all 0.7 ease;
    border: 1px solid rgb(0, 0, 0);
}

#message {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

#restart {
    display: block;
    margin: 0 auto 50px auto;
    padding: 15px;
    border: 2px solid rgb(0, 123, 255);
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    color: rgb(0, 123, 255);
}

#restart:hover {
    background-color: rgb(220, 255, 243);
    cursor: pointer;
}

@media (max-width: 800px) {
    #popup {
        width: 60%;
    }

    #popup h2 {
        font-size: 25px;
    }

    #intro, #lower-buttons {
        width: 80%;
    }

    #intro-message {
        font-size: 20px;
    }

    #starting-board {
        height: 250px;
        width: 250px;
    }

    #boards {
        flex-direction: column;
        align-items: center;
        width: 500px;
    }

    #left, #right {
        width: 85%;
    }
}

@media (max-width: 500px) {
    #popup {
        width: 80%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    #boards {
        width: 300px;
    }

    #left, #right {
        width: 100%;
        height: 325px;
    }

    #message {
        font-size: 20px;
    }

    #restart {
        font-size: 15px;
    }
}